%employee_body#employees
    %employee_actions
        %ul.emp_actions
            %li.emp
                %a{:href => new_employee_path} NEW EMPLOYEE
    %table
        %tr
            %th FIRST NAME
            %th LAST NAME
            %th ADDRESS
            %th PHONE NUMBER
            %th EMPLOYEE TYPE
            %th DATE OF BIRTH
            %th
            %th
            
        %tbody
            -   @employees.each do |emp|
                %tr.row_info
                    %td= emp.first_name
                    %td= emp.last_name
                    %td= emp.address
                    %td= emp.phone_number
                    %td= emp.employee_type
                    %td= emp.dob
                    %td= link_to 'Edit', edit_employee_path(emp), class: 'Link-Edit'
                    - if emp.id.to_s() != @currentEmp.ids[0].to_s and Employee.find(@currentEmp.ids[0]).employee_type == "Manager"
                        %td= link_to 'Delete', employee_path(emp), :method => :delete, class: 'Link-Delete'

                            