%employee_body#employees
    %employee_actions
        %ul.emp_actions
            %li.emp
                - if Employee.find_by(:uid => session[:user_id]).employee_type == 'Manager'
                    %a{:href => new_employee_path} NEW EMPLOYEE
                %a{:href => new_request_path} REQUEST SHIFT
    %table
        %tr
            %th FIRST NAME
            %th LAST NAME
            %th ADDRESS
            %th PHONE NUMBER
            %th EMPLOYEE TYPE
            %th DATE OF BIRTH
            - if Employee.find_by(:uid => session[:user_id]).employee_type == 'Manager'
                %th Options
            %th
        %tbody
            -   @employees.each do |emp|
                %tr.row_info
                    %td= emp.first_name
                    %td= emp.last_name
                    %td= emp.address
                    %td= emp.phone_number
                    %td= emp.employee_type
                    %td= emp.dob
                    %td
                        - if Employee.find_by(:uid => session[:user_id]).employee_type == 'Manager'
                            - if emp.uid != session[:user_id].to_s 
                                = link_to 'Delete', employee_path(emp), :method => :delete
                            - else
                                Delete
