-   if @currentShift.emp_id == @currentEmp.ids[0].to_s
    = label :request, :emp_receiver_id, 'Receiver'
    - employeesAvailable = Shift.get_employees_available(@currentShift)
    = select :request, :emp_receiver_id, employeesAvailable.map {|e| [e.first_name + ' ' + e.last_name, e.id] }
    
    .hdnShiftId
        = select :request, :shift_id, [@currentShift.id]
    
    = label :request, :comment, 'Comment'
    = text_field :request, :comment
    
-   else
    .hdnEmpId
        = select :request, :emp_receiver_id, [@currentShift.emp_id]
    
    .hdnShiftId
        = select :request, :shift_id, [@currentShift.id]
    
    = label :request, :comment, 'Comment'
    = text_field :request, :comment
    
.SaveChanges
    = submit_tag 'Save Changes', class: 'Save'