= form_tag requests_path, :method => :post do

    = label :request, :emp_receiver_id, 'Employee to request'
    = select :request, :emp_receiver_id, @employees.map {|e| [e.first_name + ' ' + e.last_name, e.id] }
    
    = label :request, :shift_id, 'Shift to request'
    = select :request, :shift_id, @shifts.map {|s| [s.day + ' ' + s.time + ' - ' + s.shift_type, s.id]}
    
    = label :request, :comment, 'Comment'
    = text_field :request, :comment
    
    .SaveChanges= submit_tag 'Save Changes'
    
    = form_tag requests_path, :method => :get do
        .CancelChanges
            = submit_tag 'Cancel Changes'