%requests_body#requests

    %table
        %thead
            %tr
                %th Emp Sender Id
                %th Emp Receiver Id
                %th Shift Id
                %th Comment
            %tbody
                -   @requests.each do |r|
                    %tr
                        %td= r.emp_sender_id
                        %td= r.emp_receiver_id
                        %td= r.shift_id
                        %td= r.comment
                        %td= link_to 'Delete', request_path(r), :method => :delete