!!! 5
%html
    %head
        %title SchedEx
        = stylesheet_link_tag 'application'
        = javascript_include_tag 'application'
        = csrf_meta_tags
    
    %body
        #notice.message= flash[:notice]
        #warning.message= flash[:warning]
        #main
            = yield
            
#header
    .top_bar
        .logo
            %h1 SchedEx
        .email_signed_in
            %h3= "joshcollstrom@mnsu.edu"
    .header_navigation
        %h3= "Home"
        %h3= "Schedule"
        %h3= "Employee List"